body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%; /* Take full width */
    margin: 20px auto;
    background-color: #fff;
    border-radius: 6px;
    max-width: 1000px; /* Limit maximum width */
}

.json-list {
    margin-top: 4px; /* Adjust margin as needed */
    margin-bottom: 20px;
    white-space: nowrap; /* Prevent line breaks */
    overflow-x: auto; /* Enable horizontal scroll */
}

.json-list::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.json-list button {
    margin-right: 10px; /* Adjust spacing between buttons */
    padding: 8px 16px; /* Adjust padding as needed */
    background-color: #ffffff; /* Button background color */
    color: #464646; /* Button text color */
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.json-list button:hover {
    background-color: #ffffff; /* Darker color on hover */
}

.json-list button:focus {
    outline: none; /* Remove default focus outline */
}

.dark-mode .json-list button {
    background-color: #30363d; /* Dark background color */
    color: #c9d1d9; /* Light text color */
}

.dark-mode .json-list button:hover {
    background-color: #21262d; /* Darker color on hover */
}

.data-box {
    width: calc(33.33% - 20px); /* Adjust width based on number of boxes per row */
    min-width: 250px; /* Minimum width for each box */
    height: auto; /* Auto height based on content */
    border: 1px solid #d1d5da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px; /* Add margin to create space between rows */
    margin-right: 20px; /* Add margin to create space between boxes */
    cursor: pointer;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-box:last-child {
    margin-right: 0;
}

.row {
    display: flex; /* Ensure flex container for row */
    flex-wrap: wrap; /* Allow flex items to wrap onto new lines */
    justify-content: space-between; /* Distribute space between items */
    gap: 20px; /* Add gap between items for spacing */
    margin-bottom: -20px; /* Negative margin to counteract margin added to individual boxes */
}

.box-hidden {
    display: none;
}

.data-box .box-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

body.dark-mode {
    background-color: #303030; /* Dark background color */
    color: #ffffff; /* Light text color */
}

.dark-mode .container {
    background-color: #303030; /* Darker background color for container */
}

.dark-mode .json-list button {
    background-color: #363636; /* Dark background color */
    color: #c9d1d9; /* Light text color */
}

.dark-mode .box-top {
    color: #ffffff; /* Light text color */
}

.dark-mode .box-bottom {
    color: #ffffff; /* Light text color */
}

.dark-mode .data-box {
    border-color: #797979;
    border-width: thin;
}

.box-top {
    font-size: 28px; /* Larger font size for column1 */
    font-family: "Arial Black", sans-serif; /* Unique font family for column1 */
}

.box-bottom {
    font-size: 16px; /* Smaller font size for column2 */
    font-family: "Courier New", monospace; /* Unique font family for column2 */
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%; /* Take full width */
        margin: 20px auto;
        background-color: #fff;
        border-radius: 6px;
        max-width: 600px; /* Limit maximum width */
    }

    .row {
        flex-wrap: wrap; /* Allow flex items to wrap onto new lines */
        justify-content: space-between; /* Add space between boxes */
        margin-bottom: 0; /* Remove margin between rows on mobile */
    }
    
    .data-box {
        width: calc(50% - 15px); /* Adjust width for smaller screens */
        margin-bottom: 30px; /* Add margin to create space between rows */
        height: 120px; /* Decrease height for smaller screens */
        box-sizing: border-box; /* Include padding and border in the width calculation */
        padding: 10px; /* Add padding to create space between boxes */
    }
    .box-top {
        font-size: 24px; /* Decrease font size for column1 on smaller screens */
    }

    .box-bottom {
        font-size: 18px; /* Decrease font size for column2 on smaller screens */
    }
}
